@import '../abstracts/colors';
@import '../components/header_list';
@import '../components/_invoice-item';
@import '../components/pagination';
@import '../components/emptyData';
@import '../components/invoice-form';
@import '../components/customer_dropdown';
@import '../components/menu-invoice-footer';

.invoice-wrapper{
 background-color:$dark-white;
 height: 100vh;
 position:relative;



  @media(min-width: 1280px)
  {
   display: grid; 
   grid-template-columns: repeat(7,1fr);
  
   .dashboard-header{
      grid-column: 2/8;
       grid-row: 1/2;
       //border:1px solid red;
      
   }
   .side-menu-desktop{
      grid-column: 1/2;
      grid-row: 1/3;
  }
  .invoice-content{
     grid-column:2/8 ;
     grid-row: 1/3;
    
     width:100%;
  }
   .container{
     max-width: 95%;
     //margin:0;
   }
  }

}

