@import '../components/dropdown_user';
@import '../utilities/utilities';

.user-profile {
  background: $dark-white;
  min-height: 100vh;

  @media (min-width: 767px) {
    .dashboard-header {
      position: static;
    }
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 80px 1fr;

    .container {
      max-width: 100%;
    }

    .dashboard-header {
      grid-column: 2/8;
      grid-row: 1/2;
    }

    .side-menu-desktop {
      grid-column: 1/2;
      grid-row: 1 / 3;
    }
  }
}

.content-wrapper {
  padding-top: 8rem;
  // border:1px solid red;

  &__top {
    //border:1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .profile-picture {
      @extend %flex-center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: $light-orange;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      .icon {
        color: $pure-white;
        font-size: 3rem;
      }
    }

    .profile-name {
      color: $light-black;
      font-size: 1.1rem;
      margin-top: 1rem;
    }
  }

  &__content {
    
    margin-top: 2rem;

    & .form-profile-details {
      margin-top: 2rem;

      & .form-heading {
        display: flex;
        align-items: center;

        & .profile-picture {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: $light-orange;
          @extend %flex-center;
          overflow: hidden;

          & .icon {
            color: white;
            font-size: 2rem;
          }
          img{
          width: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          }
        }

        & .btn-containers {
          margin-left: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          

          button{
            border: none;
            padding: 10px 16px;
            border-radius: 5px;
            font-size: 0.875rem;
            font-family: $secondary-font;
            margin: 0.5rem;
            cursor: pointer;
          }

          .file-input{
           
            .file{
              opacity: 0;
              width: 0.1px;
              height: 0.1px;
              position: absolute;
            }
            label{
              color:$pure-white;
              font-size: 1rem;
              display:block;
              width: 142px;
              border:none;
              border-radius: 5px;
              height:42px;
              background:$light-orange;
              cursor: pointer;
              color: $pure-white;
              transition: all 0.2s ease-in-out;
             display: flex;
             align-items: center;
             justify-content: center;

              &:hover {
                box-shadow: 0px 10px 60px rgba(254, 108, 77, 0.4);
                background: $light-orange;
              }

            }
          }

        
          & :nth-child(2) {
            background: '#F3F4F4';
            color: $light-black;
            font-weight: 500;
            transition: all 0.2s ease-in-out;

            &:hover {
              background: $light-white;
            }
          }

          @media (min-width: 440px) {
            flex-direction: row;
          }
        }
      }

      .input-field {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
      }

      .btn-submit {
        margin-top: 3rem;
        background: none;
        border: none;
        outline: none;
        background: $light-orange;
        padding: 0.5rem;
        font-size: 1rem;
        color: $pure-white;
        font-family: $secondary-font;
        font-weight: 400;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 10px 60px rgba(254, 108, 77, 0.4);
        }
      }
    }
  }

  @media (min-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 1fr;
    padding-top: 2rem;

    &__top {
      grid-column: 1/3;
      grid-row: 1/2;
      flex-direction: row;

      //justify-content: center;
      & .profile-picture {
        width: 60px;
        height: 60px;
        margin-right: 0.5rem;

        .icon {
          font-size: 2rem;
        }
      }
    }

    &__content {
      //border:1px solid red;
      grid-column: 1/3;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: 130px 1fr;
      grid-gap: 40px;

      .form-profile-details {
        margin: 0;

        .input-field {
          input {
            max-width: 540px;
          }
        }

        .btn-submit {
          width: 200px;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    grid-column: 2 / 8;
    grid-row: 2/3;
    padding-top: 2rem;
    margin-left: 5rem;

    &__top {
      .profile-name {
        font-size: 1.3rem;
      }
    }

    &__content {
      .form-profile-details {
        // border:1px solid grey;

        .form-heading {
          .btn-containers {
            button {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
